@model cumulative1.Models.Teacher;

<h1> Teacher ID: <bold> @Model.TeacherId </bold> </h1>
<p> First Name: <bold> @Model.TeacherFirstName </bold> </p>
<p>	Last Name: <bold> @Model.TeacherLastName </bold> </p>
<p>	Employee ID: <bold> @Model.EmployeeID </bold> </p>
<p>	Hire Date: <bold> @Model.HireDate </bold> </p>
<p>	Salary:<bold> @Model.Salary </bold> </p>